* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}


.center {
  height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid button{
  height: 100px;
  width: 100px;
  cursor: pointer;
  font-size: 30px;
}